.used {
  display: flex;
  color: brown;
  background-color: powderblue;
  font-family: courier;
  background-image: url('../imgs/sky.jpg');
}

.unused {
  color: red;
  background-color: azure;
  font-family: fantasy;
}
